
<footer class="footer-wrapper my-5">
    <div class="container-xxl">
        <div class="row max-1320">
            <div class="col-40 col-md-6 col-sm-12">
                <div class="wrapper-first-col-footer">
                    <div class="wrapper-logo-footer">
                        <img src="{{ section.settings.footer-logo |  image_url: : '200x'  }}" alt="">
                    </div>
                    <div class="wrapper-footer-desc">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua
                        </p>
                    </div>
                    <div class="wrapper-social-links">
                        <a href="#" class="facebook-footer">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="facebook-footer">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="facebook-footer">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="facebook-footer">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-20 col-md-6 col-sm-12">
                {% assign footer_menu_handle = section.settings.footer-menu-one %}
                {% if  linklists[footer_menu_handle]  %}
                    <div class="footer-heading"> {{ section.settings.footer-menu-one.title }} </div>
                    <ul class="footer-ul">
                        {% for footermenu in linklists[footer_menu_handle].links %}
                        <li class="footer-li"><a href="{{ footermenu.url  }}" class="footer-a">{{  footermenu.title }}</a></li>
                    {% endfor %}
                        {% comment %} <li class="footer-li"><a href="#" class="footer-a">hoodies</a></li>
                        <li class="footer-li"><a href="#" class="footer-a">hoodies</a></li>
                        <li class="footer-li"><a href="#" class="footer-a">hoodies</a></li>
                        <li class="footer-li"><a href="#" class="footer-a">hoodies</a></li> {% endcomment %}
                    </ul>    
                {% endif %}
                
                
            </div>
            <div class="col-20 col-md-6 col-sm-12">
                <div class="footer-heading">CATALOG</div>
                <ul class="footer-ul">
                    <li class="footer-li"><a href="#" class="footer-a">hoodies</a></li>
                    <li class="footer-li"><a href="#" class="footer-a">hoodies</a></li>
                    <li class="footer-li"><a href="#" class="footer-a">hoodies</a></li>
                    <li class="footer-li"><a href="#" class="footer-a">hoodies</a></li>
                    <li class="footer-li"><a href="#" class="footer-a">hoodies</a></li>
                </ul>
            </div>
            <div class="col-20 col-md-6 col-sm-12">
                <div class="footer-heading">CATALOG</div>
                <ul class="footer-ul">
                    <li class="footer-li"><a href="#" class="footer-a">hoodies</a></li>
                    <li class="footer-li"><a href="#" class="footer-a">hoodies</a></li>
                    <li class="footer-li"><a href="#" class="footer-a">hoodies</a></li>
                    <li class="footer-li"><a href="#" class="footer-a">hoodies</a></li>
                    <li class="footer-li"><a href="#" class="footer-a">hoodies</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


{% schema %}
    {   
        "name": "footer",
        "settings": 
        [
            {
                "type" : "image_picker",
                "id" : "footer-logo",
                "label": "Footer Logo"
            }
            ,{
            "type": "link_list",
            "id": "footer-menu-one",
            "label": "Footer Menu 1",
            "default": "main-menu"
            }
        ]
    }
{% endschema %}