.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.logo-area {
  text-align: center;
  justify-self: center;
}
.row-top {
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5em;
  align-items: center;
}
.form-control:focus {
  box-shadow: none;
}
.nav-item,
.account,
.cart {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
header,
.banner {
  background: #1e28320d;
}
.banner-heading {
  font-family: "Roboto";
  font-size: 74px;
  font-weight: 300;
  line-height: 55px;
  margin-bottom: 0.5em;
}
.banner-subheading {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 55px;
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 2em;
  max-width: 686px;
}
.button-shop-now {
  text-decoration: none;
  color: #fff;
  background: #1e2832;
  padding: 17px 26px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 33.98px;
  text-align: left;
}
.button-shop-now:hover {
  color: #fff;
}
.flower-left {
  bottom: 0;
}

.flower-right {
  bottom: 10%;
  right: 0;
}
.banner .row {
  overflow-x: hidden;
}
.client-logo-area {
  grid-template-columns: repeat(5, 1fr);
}
.grid-images {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
  align-items: start;
}
.double-img {
  grid-row: 1;
  grid-column: 1;
  margin-right: 20px;
}

.grid-images .sub {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0em;
  grid-gap: 20px;
}
.grid-images .sub:nth-child(1) {
  grid-column-start: 1;
  grid-row: 1;
}

.grid-images .sub:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}

.grid-images .sub:nth-child(3) {
  grid-column: 1;
  grid-row: 1;
}

.grid-images .sub:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}
.grid-images img {
  object-fit: contain;
  width: auto;
}

.letter {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 500;
  line-height: 58.59px;
  text-align: center;
}
.double-img span {
  display: none;
}

.double-img:hover .position-absolute {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  transition: 0.4s ease-in-out;
  background: #1e2832;
  width: 100%;
  padding: 15px 14px;
}
.double-img:hover span {
  display: block;
  color: #fff;
  font-family: "Open-Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  padding: 0 10px;
}
.wrapper-img-sub-grid span {
  position: absolute;
  top: 5%;
  background: #1e2832;
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.34px;
  text-align: center;
  width: 54px;
  height: 24px;
}
.wrapper-img-sub-grid span:hover,
.button-shop-now:hover {
  background: #ff6f61;
}

.wrapper-zara {
  background: url("assets/zarabg.png");
  padding: 3em 0;
  height: 700px;
  background-position: 35%;
  display: flex;
  justify-content: center;
}
.zara-big-logo {
  left: 0;
  top: 10%;
  background: url("assets/zara-logo-right.png");
}
.logo-zara-data {
  max-width: 191px;
  max-height: 81px;
  margin-bottom: 1.5em;
}
.data-wrapper-zara {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  flex-direction: column;
  padding: 0;
}
.zara-desc {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  color: #fff;
}
.button-wrapper-collection {
  padding: 15px 25px 15px 25px;
  background: #fff;
  color: #1e2832;
}
.button-wrapper-collection a {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #1e2832;
  text-decoration: none;
}

.button-wrapper-collection:hover {
  background: #ff6f61;
}
.button-wrapper-collection:hover a {
  color: #fff;
}
.best-seller {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 500;
  line-height: 58.59px;
  text-align: center;
}

.best-seller-wrapper {
  margin-top: 5em;
  margin-bottom: 2em;
}
.filter-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filter-row a {
  text-decoration: none;
}

.filter-row .filter-name {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
  color: #000;
  padding: 0 0.75em;
}
.filter-row .active {
  font-weight: 600;
}
.show-all-button {
  display: flex;
  justify-content: flex-end;
}
.show-all-button a {
  background: #1e2832;
  color: #fff;
  width: Hug (93px) px;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  line-height: 22px;
  font-family: "Roboto";
}


.prodcuts-wrapper .display-grid{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    column-gap: 15px;
    row-gap: 2em;
}

.product-wrapper-data{
    width: 300px;
    padding: 10px 0;
}
.pricing-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.product-title , .pricing-wrapper .category  , .pricing-wrapper .price{
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    font-family: "Roboto";
}
.pricing-wrapper .price , .product-title {
    color: #000;
    font-size: 18px;
}
.product-title a{
    color: #000;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    font-family: "Roboto";
    text-decoration: none;
}
.pricing-wrapper .category {
    color: #9F9F9F;
}
.img-wrapper{
    display: block;
}
.product--wrapper{
    max-width: 300px;
    padding: 0;
}
.product--wrapper-img .img-wrapper img {
    max-width: 300px;
}
.product--wrapper-img .shop-bar {
    display: none;
    bottom: 0%;
    transition: .4s ease-in-out;
}
.product--wrapper-img:hover .shop-bar {
    display: block;
    bottom: 16%;
    background: #1E2832;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    padding: 15px 14px;
    width: 100%;
}
.whislist-wrapper i , .search-wrapper-p i , .wrapper-cart-p i  {
    color: #fff;
    padding-right: 10px;
    font-size: 16px;
}
.shop-now-p
{
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
}
.shop-now-p:hover{
    color: #ff6f61;
}


/* footer */
.wrapper-logo-footer{
    margin-bottom: 1.5em;
}
.wrapper-footer-desc{
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    max-width: 90%;
}
.wrapper-social-links{
    max-width: 60%;
    display: flex;
    justify-content: space-between;
}
.wrapper-social-links a{
    color: #000;
}

ul.footer-ul {
    list-style: none;
    padding: 0;
}
.footer-li{
margin: 10px 0;

}
.footer-a{
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000;
text-decoration: none;
text-transform: capitalize;
}
.footer-heading
{
font-family: "Open Sans";
font-size: 16px;
margin-bottom: 1em;
font-weight: 600;
line-height: 21.79px;
text-align: left;

}
.col-40{
    width: 40%;
}
.col-20{
    width: 20%;
}
/* footer */
/*
*
*
*
*
*
*
*
*
*/

/* Media Queries */
@media (max-width: 1400px) {
  .grid-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .double-img {
    margin-right: 0;
    /* max-width: 80vw; */
  }
  .sub:nth-child(1),
  .sub:nth-child(2) {
    margin-top: 20px;
  }
  .footer-wrapper{
    max-width: 90%;
    margin: auto;
    }
    .footer-wrapper .col-lg-3{
        /* padding: 0; */
        margin-bottom: 1em;
    }

}
@media (min-width: 992px) and (max-width: 1400px) {
    .filters{
        text-align: center;
    }
}
@media (max-width: 1320px) {
  .double-img {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 992px) and (max-width: 1319px) {
  .navbar-expand-lg .navbar-nav {
    width: auto;
  }
  .max-1320 {
    width: auto;
    max-width: 100%;
  }
  .row-menu {
    width: 100%;
    max-width: 100vw;
    overflow-x: scroll;
  }
  .min-width-1320-px {
    min-width: auto;
  }

  .prodcuts-wrapper .display-grid{
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: auto;
    place-items: center;
  }
 
}
@media (min-width: 992px) {
  .container {
    max-width: 1320px;
  }
  .dispaly-small-devices-only {
    display: none;
  }
  .min-width-1320-px {
    min-width: 1320px;
  }
  .max-1320 {
    max-width: 1320px;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
    width: 1320px;
  }
}

@media (max-width: 991px) {
  .form-lg-devices-n {
    display: none !important;
  }
  .min-width-1320-px,
  button.navbar-toggler {
    width: auto;
  }
  .row-top {
    border-bottom: 0px;
  }
  .banner-heading {
    margin: 0.5 em 0;
  }
  .banner-heading,
  .banner-subheading {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .banner-subheading {
    max-width: max-content;
    margin-bottom: 1em;
  }
  .text-banner-l {
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: auto;
  }
  .button-shop-now {
    margin: 1em auto;
  }
  .image-banner-r {
    display: flex;
    margin-top: 2em;
  }
  .client-logo-area {
    grid-template-columns: repeat(3, 1fr);
  }
  .letter {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }
  .data-wrapper-zara {
    align-items: center;
  }
  .zara-desc {
    max-width: 80%;
    margin: 1em auto;
    text-align: center;
  }
  .best-seller {
    font-size: 34px;
    line-height: 42px;
  }
  .filter-row .filter-name{
    text-align: center;
  }

  .prodcuts-wrapper .display-grid{
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: auto;
    place-items: center;
}
.footer-wrapper .col-40 {
    width: 100%;
  }
  .footer-wrapper .col-20{
    margin-top: 2em;
    width: 33.33%;
  }

}
@media (max-width: 767px) {
  .flower-right,
  .flower-left {
    display: none;
  }
  .image-banner-r img {
    max-width: 80%;
    object-fit: cover;
  }
  .banner-heading {
    font-size: 3.5em;
  }
  .banner-subheading {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .button-shop-now {
    padding: 10px 45px;
  }
  .client-logo-area {
    grid-template-columns: repeat(1, 1fr);
  }
  .client-wrapper-logo {
    margin: auto;
    padding: 0.5em 0;
  }
  .double-img img {
    max-width: 80vw;
  }
  .sub {
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .sub div {
    max-width: 40vw;
    text-align: center;
  }
  .sub img {
    max-width: 90%;
  }
  .letter {
    font-size: 28px;
    line-height: 34px;
    text-align: center;
  }
  .banner-heading {
    font-size: 42px;
    font-weight: 400;
    font-family: "Roboto";
  }

  .best-seller {
    font-size: 28px;
    line-height: 36px;
  }
  .best-seller-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .filters,
  .show-all-button {
    width: 100% !important;
  }
  .filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 0;
  }
  .filter-name {
    margin: 0 1em;
    text-align: center;
  }
  .filter-wrapper {
    display: flex;
    justify-content: center;
  }
  .show-all-button {
    justify-content: center;
    margin-top: 0.5em;
  }

  .prodcuts-wrapper .display-grid{
    grid-template-columns: repeat(1 , 1fr);
    grid-template-rows: auto;
  }
  .footer-wrapper .col-40 , .footer-wrapper .col-20{
    width: 100%;  
    }
    .footer-wrapper .col-20{
        margin-top: 0.75em;
    }
}
@media (max-width:320px) {
    .product-wrapper-data , .product--wrapper{
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }
}